 button{  /* STYLING BEGINS HERE*/
            color:black;
            background-color: coral;
            width: 100px;
            height: 50px;
            border-radius: 50px;
            cursor: pointer;
            border: 3px solid black;
            margin: 50px 50px 50px;
        } 
        button:hover{
            color: coral;
            background-color:black;
        }
        /* STYLING ENDS HERE*/


        .profile{  /* STYLING FOR PROFILE PICTURE*/
            border-radius: 500px;
            box-shadow: 10px 10px 10px black;
            border: 2px solid black;
            margin: 50px 50px 50px;
            width: 250px;
            height: 250px;
        }  /* ENDS HERE*/


        div img{ /* STYLING FOR IMAGES PROJECT*/
            width: 300px;
            height: 300px;
            border: 10px solid gray;
            justify-content: space-between;
            margin: 20px;
            border-radius: 300px;
            box-shadow: 10px 10px 10px grey;
        }   /* ENDS HERE*/


        .lists{  /* STYLING FOR LIST OF ITEMS*/
            font-family: cursive;
            text-align: justify;
            overflow-x: hidden;
        }   /* ENDS HERE*/


        p{  /* STYLING FOR PARAGRAPHS*/
            font-family: cursive;
            text-align:justify;
            overflow-x: hidden;
        }  /* ENDS HERE*/


        h2{  /* STYLING FOR H2*/
            color: maroon;
            font-family: cursive;
        }  /* ENDS HERE*/


        h3{  /* STYLING FOR H3*/
            color:darkgoldenrod;
            font-family:cursive;
        }  /* ENDS HERE*/


        .everything{  /* STYLING FOR THE ENTIRE CV*/
            margin-left: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: 50px;
            overflow-x: hidden;
        }   /* ENDS HERE*/


        div p{  /* STYLING FOR CONTACT INFO*/
            display:inline-flex;
            margin: 20px;
        }  /* ENDS HERE*/


        h1{  /* STYLING FOR H1*/
            text-align: center;
            font-size: 50px;
            color: darkblue;
            font-family: cursive;
            background-color:darkkhaki;
        }  /* ENDS HERE*/
            
        
