 button{
            color:black;
            background-color: coral;
            width: 100px;
            height: 50px;
            border-radius: 50px;
            cursor: pointer;
            border: 3px solid black;
            margin: 50px 50px 50px;
        }
        .profile{
            border-radius: 500px;
            box-shadow: 10px 10px 10px black;
            border: 2px solid black;
            margin: 50px 50px 50px;
            width: 250px;
            height: 250px;
        }
        div img{
            width: 300px;
            height: 300px;
            border: 10px solid gray;
            justify-content: space-between;
            margin: 20px;
            border-radius: 300px;
            box-shadow: 10px 10px 10px grey;
        }
        .lists{
            font-family: cursive;
            text-align: justify;
            overflow-x: hidden;
        }
        p{
            font-family: cursive;
            text-align:justify;
            overflow-x: hidden;
        }
        h2{
            color: maroon;
            font-family: cursive;
        }
        h3{
            color:darkgoldenrod;
            font-family:cursive;
        }
        .everything{
            margin-left: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: 50px;
            overflow-x: hidden;
        } 
        div p{
            display:inline-flex;
            margin: 20px;
        }
        h1{
            text-align: center;
            font-size: 50px;
            color: darkblue;
            font-family: cursive;
            background-color:darkkhaki;
        }
        button:hover{
            color: coral;
            background-color:black;
        }    
        
